@import "@fontsource-variable/inter";
@import "./assets/theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply scroll-mt-24 font-medium;
  }

  h1 {
    @apply text-3xl sm:text-4xl leading-tight tracking-tight mb-8;
  }

  h2 {
    @apply text-2xl leading-snug;
  }

  h3 {
    @apply text-lg leading-snug;
  }

  h4 {
    @apply text-base leading-normal;
  }

  p {
    @apply text-base text-muted-foreground leading-relaxed;
  }

  section {
    @apply space-y-6;
  }
}